@font-face {
  font-family: digital-7;
  src: url(digital-7.ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  width: 100dvw;
  background-color: #7a7a7a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 16px;
  margin-top: 25dvh;
  box-shadow: inset 4px 4px 2px #FFF, inset -4px -4px 2px #666, 4px 4px 2px #444, 0 0 8px 4px rgba(0, 0, 0, 0.4);
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 252px;
  overflow: hidden;
  background-color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 2px 2px #fff;
}

.output {
  color: red;
  font-family: digital-7;
  font-size: 3rem;
  text-align: right;
}

.buttons {
  display: flex;
  gap: 8px;
}

button {
  width: 60px;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  border-width: 8px;
  border-radius: 12px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.numbers button {
  background-color: #e0e0e0;
  color: #cc1f1f;
  font-weight: bold;
  border-color: #e0e0e0;
  box-shadow: -1px -1px rgba(0,0,0,0.2);
}

.numbers button:disabled {
  background-color: #ddd;
  opacity: 0.8;
}

[class^="operators"] button {
  background-color: #666;
  color: hwb(0 8% 52%);
  font-size: 2rem;
}

#clear {
  font-size: 1.5rem;
}

#calculate {
  background-color: #cc1f1f;
  color: #fff;
  border-color: #b71b1b;
  font-size: 2rem;
  flex-grow: 1;
}

#zero {
  aspect-ratio: unset;
  flex-grow: 1;
}
